@import "tailwindcss";

/* Hide visual scrollbar but keep scroll behavior */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}